div .Chart {
  position: relative;
  top: 120px;
  margin:6px;
  padding:6px;
  width: 100%;
  left: 4%;
}

.grids {
  display: flex;
  justify-content:center;
  align-self: center;
  width: 90%;
  flex-direction: column;
  color: black;
  background-color: #f2f2f2;
  /*margin: 30px;*/
  padding-top: 5px;
  border-radius: 10px;
}
.Chart h4 {
  color:black;
  font-weight: bold;
  text-align: center;
}
/*styling for one grid, use if remove gridB and .grids container */
/*.grid {
  position: fixed;
  width: 90%;
  height: auto;
  top: 30%;
  right: 5%;
  color:black;
  background-color: white;
}*/
.grid {
  padding:12px;
  margin: 12px;
}
.gridB {
  margin-top: 100px;
  margin: 12px;
}

.gridTitle {
  position: relative;
  top:105px;
  text-align: center;
  color:white;
  background-color: #1d2027;
}

.gridTitle h1 {
  text-align: center;
  margin:10px;
  padding: 3px;
}

.gridTitle h3 {
  text-align:center;
  font-size: 1.2em;
  margin:0;
  padding: 0;
}

.switchPage a {
  border: 2px solid #FFF;
  background: none;
  color: #FFF;
  border-radius: 25px;
  width: 150px;
  margin-top: 10px; }
  .switchPage a:hover {
    background: white;
    color: #333844;
    border: 2px solid white; }
