
.grid {
  position: fixed;
  width: 90%;
  height: auto;
  top: 30%;
  right: 5%;
  color:black;
  background-color: white;
}

.gridTitle {
  position: fixed;
  width: 90%;
  height: 10%;
  top: 15%;
  right: 5%;
  color:white;
  background-color: #1d2027;
}

.gridTitle h1 {
  text-align: center;
  margin:10px;
  padding: 3px;
}

.gridTitle h3 {
  text-align:center;
  font-size: 1.2em;
  margin:0;
  padding: 0;
}

.switchPage a {
  border: 2px solid #FFF;
  background: none;
  color: #FFF;
  border-radius: 25px;
  width: 150px;
  margin-top: 10px; }
  .switchPage a:hover {
    background: white;
    color: #333844;
    border: 2px solid white; }
