//----------------------------------*\
// SCSS MIXINS
//----------------------------------*/
//@import 'mixins/position';
//----------------------------------*\
// CONFIG MODULES
//----------------------------------*/
// Config modules
@import 'modules/variables';
@import 'modules/clearfix';
@import 'modules/defaults';
@import 'modules/normalize';
//----------------------------------*\
// PARTIALS
//----------------------------------*/
@import 'partials/nav';
@import 'partials/savedSearch';
@import 'partials/search';
@import 'partials/footer';

//----------------------------------*\
// OBJECTS & MODULES
//----------------------------------*/
//@import 'modules/typography';

body {
  background: $charcoal;
  color: $white;
}

input {
  color: black;
}

select#repeatSelect {
  color: black !important;
}