<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
</head>
  <body>
    <header class="navigation col-xs-12">
      <div class="logo">
        <img src="../../assets/logo.png"/>
      </div>

      <div ng-controller="logoutController" class="logout">
        <a ng-click='logout()' class="btn btn-default">Logout</a>
      </div>

    </header>

    <div ng-controller="dashboardView" class="savedSearches col-xs-12 col-md-8">
      <div class="top-section col-xs-12">
        <h1 class="title">Saved Searches</h1>
        <a ng-click="update()" class="btn btn-default">Update Data!</a>
      </div>
      <div ng-repeat="item in manipulateData" class="col-xs-12 col-md-6">
        <div class="search col-xs-12">
          <div class="box">
            <ul>
              <li>Currency: {{ item.cxy }}</li>
              <li>Date bought: {{ item.date }}</li>
              <li>Purchase value: {{ item.value }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="userSearch col-xs-12 col-md-4">
      <h1 class="title">New Search</h1>
        <form name="currencyList">
          <label for="repeatSelect"> Currency List: </label>
          <select ng-model='selectedCurrency' ng-options='y for (x, y) in listOfCurrency' ng-change='getKeys(); getSelectedCurrency()'></select>
          <div class="details" ng-show="historyRate.loaded">
            <p>{{ inputCurrency}} -- {{ selectedCurrency }}</p>
            <p>Today's Rate: {{ historyRate.todayRate }}</p>
            <p>Last Week: {{ historyRate.sevenDaysAgo }}</p>
            <p>Last Month: {{ historyRate.thirtyDaysAgo }}</p>
            <p>Last Year: {{ historyRate.yearAgo}}</p>
<!--             <button class="btn btn-default" type='submit'>Submit</button> -->
          </div>
        </form>
        <a ng-show="historyRate.loaded" ng-click="postToDB()" class="btn btn-default">BUY!!!!!</a>
    </div>

<!--     <footer class="footer col-xs-12">
      <p>Made with by <i class="fa fa-heart faa-pulse animated" aria-hidden="true"></i> Astonishing Owls Inc. </p>
    </footer>

 -->

  </body>
</html>


